<td>
<p><font face="arial" size="-1"><strong>Recuperação de senha:</strong> sua senha é {pass}</font></p>
<p><font face="arial" color="gray" size="-2">* O controle antifraude garante a confiabilidade do remetente. Caso esta informação não apareça ou esteja errada, <a href="http://denuncia.uol.com.br/" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" title="">denuncie</a>! Alguém pode estar usando o nome do UOL para enviar e-mails maliciosos. </font></p>
</td>